$lightgray: #616161;
$lightmidgray: #444444;
$midgray: #242424;
$darkgray: #151515;

@mixin transition-duration($duration){
    -o-transition-duration: $duration; /* Opera */
    -moz-transition-duration: $duration; /* Firefox */
    -webkit-transition-duration: $duration; /* Safari */
    transition-duration: $duration;
}

body {
    height: 100vh;
    margin: 0;
    background-color: black;
}

div > button, div > header, div > section {
    font-family: 'Anaheim';
    font-size: 18px;
    color: white;
}

.header {
    img {
        height: 100%;
        opacity: 0.8;
    }

    button {
        width: 6em;
        height: 2em;
        background-color: $darkgray;
        border: 2px solid $lightgray;
        padding-left: 1em;
        text-align: left;
        @include transition-duration(0.4s);
        cursor: pointer;
        outline: none;
    }

    .manifest {
        opacity: 0.6;
    }

    button:hover {
        background-color: $lightmidgray;
    }

    .dropdown {
        button {
            width: 100%;
            height: 100%;
        }

        button:hover {
            background-color: $lightmidgray;
        }

        .content {
            button {
                display: flex;
                justify-content: space-between;
                background-color: $midgray;
                height: 2em;
                border: none;
                border-bottom: 2px solid $lightgray;
            }

            button:hover {
                background-color: $lightmidgray;
            }

            width: 30em;
            display: none;
            position: relative;
            top: -2px;
            right: 10em;
            border: 2px solid $lightgray;
            max-height: 20em;
            overflow: scroll;
        }

        .show {
            display: block;
        }

        width: 20em;
        height: 2.5em;
        opacity: 0.6;
    }

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 12vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 2em;
    z-index: 1;
}

.viewer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
