$lightgray: #616161;
$lightmidgray: #444444;
$midgray: #242424;
$darkgray: #151515;

@mixin transition-duration($duration){
    -o-transition-duration: $duration; /* Opera */
    -moz-transition-duration: $duration; /* Firefox */
    -webkit-transition-duration: $duration; /* Safari */
    transition-duration: $duration;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div > button, div > header, div > section {
    font-family: 'Anaheim';
    font-size: 18px;
    color: white;
}

.header {
    img {
        width: 50%;
    }

    .dropdown {
        button {
            width: 100%;
            background-color: $darkgray;
            border: 2px solid $lightgray;
            padding: 16px 32px;
            text-align: left;
            @include transition-duration(0.4s);
            cursor: pointer;
            outline: none;
        }

        button:hover {
            background-color: $lightmidgray;
        }

        .content {
            button {
                background-color: $midgray;
                padding: 12px 16px;
                display: block;
                border-top: none;
            }

            button:hover {
                background-color: $lightmidgray;
            }

            display: none;
            position: absolute;
            right: 1em;
            // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        .show {
            display: block;
        }

        width: 30%;
        color: white;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 1em;
}

.viewer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.5em;
}

.manifest {
    header {
        background-color: $darkgray;
        border-top: 1px solid $lightgray;
        border-bottom: 1px solid $lightgray;
        padding: 16px 32px;
        color: white;
    }

    section {
        background-color: $midgray;
        border-top: 1px solid $lightgray;
        padding: 16px 32px;
    }

    width: 100%;
    padding: 2em 1.5em;
    box-sizing: border-box;
}
